 <section id="top">
         <!-- Loder -->
         <div class="col-md-12 col-xs-12">
            <div class="row">
               <div class="col-md-4 col-xs-4">
                  <div class="row">
                     <div class="wow slideInLeft humbermenu_main_div" data-wow-duration="1s">
                        <div class="header__nav animation--from-right is-visible">
                           <button type="button" onclick="openNav()" class="header__toggle"><span class="p-event-none"></span><span class="p-event-none"></span><span class="p-event-none"></span></button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-xs-8">
                  <div class="row">
                     <div class="col-md-5 col-xs-5">
                        <div class="row">
                           <div class="wow slideInLeft logobox_main" data-wow-duration="1s">
                              <a href=""><img src="assets/img/logo.png"></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5 col-xs-1">
                        <div class="row">
                           <div class="wow slideInRight socialmedia_icons" data-wow-duration="1s">
                              <ul>
                                 <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                 <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                 <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                 <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2 col-xs-6">
                        <div class="row">
                           <div class="wow slideInRight language_main" data-wow-duration="1s">
                              <ul>
                                 <li><a href="">ENG</a></li>
                                 <li><a href="">ARB</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 col-xs-12">
            <div class="row">
               <div class="col-md-1 col-xs-1">
                  <div class="row">
                     <div class=" wow slideInLeft bg" data-wow-duration="1s">
                        <img src="assets/img/design.png">
                        <a href="">
                           <h1>www.veuzconcepts.com</h1>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-10 col-xs-12">
                  <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="row">
                           <div class="wow slideInLeft demo-cont" data-wow-duration="1s">
                              <div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner caroselheight">
      <div class="item active caroselheight">
        <img src="assets/img/slider1.jpg" alt="Los Angeles">
      </div>

      <div class="item">
        <img src="assets/img/slider2.jpg" alt="Chicago" >
      </div>
    
      <div class="item">
        <img src="assets/img/slider3.jpg" alt="New york">
      </div>
    </div>
 </div>

                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="col-md-12 col-xs-12 caption_style">
                           <h4 class=" wow slideInLeft title-decoration title-decoration--left fw-600 animation--from-left-fade" data-wow-duration="1s">We Are</h4>
                           <h1 class="wow slideInLeft" data-wow-duration="1s">Veuz Concerpts.</h1>
                        </div>
                        <div class="wow slideInRight col-md-12 col-xs-12 descrption_style">
                           <p>We are a team of passionate human beings, who apart from living life to the full, loves designing websites and creating content for them. We have slightly different version of PR our P is Presence and our R is Response. And that's what we do. Fesilitating presence and generating response. Feel free to see our works and let us know if you likes them. </p>
                        </div>
                        <div class="col-md-12 col-xs-12 btn_more_class">
                           <div class="center">
                              <a class="button" href="#">More</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12 col-xs-12">
                        <div class="row">
                           <div class="col-md-1 col-xs-1 wow slideInLeft more_btn" data-wow-duration="1s">
                              <a href="#who_we_are"><button class="header__moore__btn animation--from-left-fade"><span class="header__moore__text p-event-none">more</span><span class="bar-wrapper bar-wrapper--down p-event-none"><span class="bar-whitespace p-event-none"><span class="bar-line bar-line--down p-event-none"></span></span>
                              </span>
                              </button></a>
                           </div>
                           <div class="col-md-4 col-xs-4"></div>
                           <div class="col-md-8 col-xs-8 wow slideInRight height_box2" data-wow-duration="1s">
                              <div class="col-md-12">
                                 <img src="assets/img/code.png">
                              </div>
                              <div class="col-md-12 wow slideInLeft live_text" data-wow-duration="1s">
                                 <span class="nab bar-wrapper bar-wrapper--down p-event-none"><span class="bar-whitespace p-event-none" style="   
                                    width: 10px;
                                    height: 5cm;
                                    -webkit-transform: rotate(-90deg) translateX(3rem);
                                    transform: rotate(-90deg) translateX(3rem);
                                    left: -100px;
                                    top: 15px;">
                                 <span class="bar-line bar-line--down p-event-none"></span>
                                 </span>
                                 </span>          
                                 <h2>Now Proudly Working With</h2>
                                 <h1><span class="txt-rotate" data-period="2000"  data-rotate='[ "India.", "Saudi Arabia.", "France.","UAE.","Calicut.","Czech Republic." ]'></span></h1>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-1 col-xs-1">
                  <div class="row">
                     <div class="wow slideInLeft bg_right" data-wow-duration="1s">
                        <div class="col-md-12">
                           <img src="assets/img/words.png">
                        </div>
                        <div class="col-md-12 whtpp_contact">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- close Header -->
      <div id="who_we_are" class="col-md-12">
         <span class="creative"><img src="assets/img/creative.png"></span>
         <div class="row">
            <div class="who_veuz">
               <div class="col-md-6 this_veuz">
                  <h1 class="line_who_we_are">Who We Are</h1>
                  <p>Veuz Concepts is a specialized designing and developing firm based in New Delhi, India, with development centers in Kerala and Saudi Arabia. Our team is made of young, passionate designers and developers who are always in the lookout for greater challenges. In the rapidly changing arena of web development, we can assure you the most up-to-date technologies that would ensure you an efficient and wider outreach to your clients and prospective customers.</p>
               </div>
               <div class="col-md-6 pad">
                  <div class="back_img  wow slideInRight" data-wow-duration="1s">
                     <img src="assets/img/about.jpg">
                  </div>
                  <div class="front_img wow bounceInUp" id="zio" data-wow-duration="1s">
                     <img src="assets/img/laptop-dark.png">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section>
         <div class="col-md-12 about_area" id="section1">
            <div class="row">
               <div class="col-md-3">
                  <div class="col-md-12">
                     <div class="what_we_do">
                        <h4 class="wow fadeInUp title-decoration title-decoration3 title-decoration--left title-decoration--left3 fw-600 animation--from-left-fade" data-wow-duration="1s">What We Do</h4>
                     </div>
                     <div class="innovation_heading wow fadeInUp"  data-wow-duration="1s">
                        <h4>Innovation and <br>impact.</h4>
                     </div>
                     <div class="caption_imapct wow fadeInUp"  data-wow-duration="1s">
                        <p>Our digital agency has two goals: optimise every user’s experience, and create real impact for our clients.</p>
                     </div>
                     <div class="discover_btn">
                        <a href="" class="wow fadeInUp title-decoration title-decoration2 title-decoration--left title-decoration--left2 fw-600 animation--from-left-fade" data-wow-duration="1s">Discover</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-xs-12 topz">
                  <div class="row">
                     <div class="col-md-4 col-xs-12">
                        <div class="icon_area wow fadeInUp" data-wow-duration="1s">
                           <span><i class="fas fa-palette"></i></span>
                        </div>
                        <div class="txt_area wow fadeInUp" data-wow-duration="1s">
                           <h1>Designs</h1>
                        </div>
                        <div class="para_area wow fadeInUp" data-wow-duration="1s">
                           <p>Smart and responsive are not just buzzwords. It’s the way we act and design. Delivering attention-grabbing graphics that just work is what we do best.</p>
                        </div>
                     </div>
                     <div class="col-md-4 col-xs-12">
                        <div class="icon_area wow fadeInUp" data-wow-duration="1s">
                           <span><i class="fas fa-pencil-alt"></i></span>
                        </div>
                        <div class="txt_area wow fadeInUp" data-wow-duration="1s">
                           <h1>Words</h1>
                        </div>
                        <div class="para_area wow fadeInUp" data-wow-duration="1s">
                           <p>From concept to execution, we create digital campaigns from scratch and show you the way to expand your online presence and make it shine.</p>
                        </div>
                     </div>
                     <div class="col-md-4 col-xs-12">
                        <div class="icon_area wow fadeInUp" data-wow-duration="1s">
                           <span><i class="fas fa-code"></i></span>
                        </div>
                        <div class="txt_area wow fadeInUp" data-wow-duration="1s">
                           <h1>Codes</h1>
                        </div>
                        <div class="para_area wow fadeInUp" data-wow-duration="1s">
                           <p>Beauty is nothing without usability and that's why our in-house devs work together with creatives. We use the latest technology and we never stop learning.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="col-md-12 our_works">
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-6">
                     <div class=" video_area">
                     <figure class="video">
                        <iframe class="rv" frameborder="0" height="360" src="https://www.youtube.com/embed/BQ3y6QXQE3M?rel=0&controls=0&showinfo=0" width="640"></iframe>
                     </figure>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="video_sec_2">
                     <h1 class="video_titile">Peek behind the <br>curtain.</h1>
                     <p class="video_para">
                        Meet our close-knit tribe of designers, copywriters,<br> developers, marketers, and <br>strategists.
                     </p>
                     <a href="#"><span class="video_btn">Explore</span></a>
                    </div>
                  </div>

                    <div class="col-md-6">
                     <div class=" video_area3">
                     <figure class="video">
                        <iframe class="rv" frameborder="0" height="360" src="https://www.youtube.com/embed/BQ3y6QXQE3M?rel=0&controls=0&showinfo=0" width="640"></iframe>
                     </figure>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="col-md-12 testimonials">
            <div class="col-md-4 col-xs-12">
               <div class="testimonial_heading">
                  <h1>Testimonial</h1>
                  <p>Lorem Ipsum is simply dummy text</p>
               </div>
            </div>
            <div class="col-md-8 col-xs-12">
               <div class="row">
                  <div class="col-md-4 testi">
                     <span class="assets/img_testimo"><img src="assets/img/test.jpg"></span>
                  </div>
                  <div class="col-md-8 col-xs-12">
                     <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                           <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                           <li data-target="#quote-carousel" data-slide-to="1"></li>
                           <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                           <!-- Quote 1 -->
                           <div class="item active">
                              <div class="row">
                                 <div class="col-sm-12 col-xs-12">
                                    <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.&rdquo;</p>
                                    <small><strong>Nabeel k</strong></small>
                                 </div>
                              </div>
                           </div>
                           <!-- Quote 2 -->
                           <div class="item">
                              <div class="row">
                                 <div class="col-sm-12 col-xs-12">
                                    <p>&ldquo;Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&rdquo;</p>
                                    <small><strong>Nabeel K</strong></small>
                                 </div>
                              </div>
                           </div>
                           <!-- Quote 3 -->
                           <div class="item">
                              <div class="row">
                                 <div class="col-sm-12 col-xs-12">
                                    <p>&ldquo;Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.&rdquo;</p>
                                    <small><strong>Nabeel K</strong></small>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

     <section>
          <div class="col-md-12 main_div_career">

             <div class="col-md-4 col-xs-12 disply">
                <h1 class="career_heading">Careers</h1>
                <h1 class="main_heading_career">Play with us.</h1>
                <p class="career_para">There’s always room <br>for game-changers in <br>our Playground.</p>
             </div>

             <div class="col-md-8 col-xs-12 career_main">
                <a href="#"><span class="text_career">Frontend Developer</span><br><br><span class="aftereffect"></span></a><br>
                 <a href="#"><span class="text_career">Senior Backend Developer</span><br><br><span class="aftereffect"></span></a><br>
                  <a href="#"><span class="text_career">Media Planner</span><br><br><span class="aftereffect"></span></a><br>
             </div>

             <div class="col-md-4 col-xs-12 display2">
                <h1 class="career_heading">Careers</h1>
                <h1 class="main_heading_career">Play with us.</h1>
                <p class="career_para">There’s always room <br>for game-changers in <br>our Playground.</p>
             </div>
          </div>
     </section>
<div class="clearfix"></div>
    <section>
       <div class="col-md-12">
         <div class="row">
         <div class="our_clients">
             <div class="col-md-6 col-xs-12">
                <h1 class="brands_h1">Brands</h1>
                <h1 class="happy_clients">Our happy clients.</h1>
                <p class="clients_para">Hey, we’re old romantics at heart.<br> For 4+ years, we’ve cultivated long-term<br> relationships with leading brands and<br> companies.</p>
             </div>
             <div class="col-md-6 col-xs-12">
                  <section class="customer-logos slider">
      <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
   </section>
             </div>
         </div>
         </div>
       </div>
    </section>

         <div class="col-md-12">
            <div class="row">
               <a href="#top"><button class="footer__top__button"><span class="footer__top__text p-event-none">top</span>
               <span class="bar-wrapper bar-wrapper--up p-event-none"><span class="bar-whitespace2 p-event-none">
               <span class="bar-line2 bar-line2--up p-event-none"></span></span></span>
               </button></a>
            </div>
         </div>

         <div class="clearfix"></div>
         <footer>
            <div class="col-md-12 footer_area">
               <div class="row">
                  <div class="col-md-4 col-xs-4">
                     <div class="row">
                        <div class="col-md-2 col-xs-3 side_socialmedia_icons">
                           <ul>
                              <a href="">
                                 <li><i class="fab fa-linkedin-in"></i></li>
                              </a>
                              <a href="">
                                 <li><i class="fab fa-facebook-f"></i></li>
                              </a>
                              <a href="">
                                 <li><i class="fab fa-instagram"></i></li>
                              </a>
                              <a href="">
                                 <li><i class="fab fa-twitter"></i></li>
                              </a>
                              <a href="">
                                 <li><i class="fab fa-linkedin-in"></i></li>
                              </a>
                           </ul>
                        </div>
                        <div class="col-md-10 col-xs-9 footer_logo_area">
                           <img src="assets/img/logo.png">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 col-xs-8">
                     <div class="footer_adress_area">
                        <h1 class="adress_heading">Headquarters</h1>
                        <p class="adress_paragraph">CyberPark Kozhikode Ground Floor,<br> Sahya Building KSITIL Special Economic Zone</p>
                        <p class="adress_pincode">PO, Nellikkode, Kozhikode,</p>
                        <p class="adress_last_area">Kerala 673016</p>
                     </div>
                  </div>
                  <div class="col-md-4 col-xs-8">
                     <div class="call_area">
                        <ul>
                           <a href="">
                              <li class="whtpp"><i class="fab fa-whatsapp"></i> <span class="wtp_txt">+91 9544331111</span></li>
                           </a>
                           <a href="">
                              <li class="mail"><i class="far fa-envelope"></i><span class="mail_txt">veuzconcepts@gmail.com</span></li>
                           </a>
                           <a href="">
                              <li class="mobile"><i class="fas fa-mobile-alt"><span class="wtp_txt2">+91 9544331111</span></i></li>
                           </a>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-12 last_footer_area">
               <div class="col-md-5 col-xs-12">
                  <div class="col-md-1"></div>
                  <div class="col-md-11 all_rights_reserved">
                     <h1>2020 All rights reserved</h1>
                  </div>
               </div>
               <div class="col-md-7 col-xs-12">
                  <div class="other_menu_area">
                     <ul>
                        <a href="">
                           <li>Home</li>
                        </a>
                        <a href="">
                           <li>Who we are</li>
                        </a>
                        <a href="">
                           <li>What we do</li>
                        </a>
                        <a href="">
                           <li>Case Studies</li>
                        </a>
                        <a href="">
                           <li>Careers</li>
                        </a>
                        <a href="">
                           <li>Get in touch</li>
                        </a>
                     </ul>
                  </div>
               </div>
            </div>
         </footer>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="col-md-12">
     <div class="col-md-12 nav_logo_style">
        <img src="assets/img/white.png">
     </div>
     <div class="col-md-6 col-xs-12">
      <div class="megamenu_area">
        <ul class="padding_area">
           <li><a href="#" class="after_effect">Who we are</a></li>
           <li><a href="#" class="after_effect">What we do</a></li>
           <li><a href="#" class="after_effect">Case Studies</a></li>
           <li><a href="#" class="after_effect">Careers</a></li>
           <li><a href="#" class="after_effect">Get in touch</a></li>
        </ul>
        </div>
     </div>
     <div class="col-md-6 col-xs-12">
       <div class="sidenav_adress_area">
         <img src="assets/img/white.png">
           <p>CyberPark Kozhikode Ground Floor,<br>
              Sahya Building KSITIL Special Economic Zone</p>
           <p>PO, Nellikkode, Kozhikode,</p>
           <p>Kerala 673016</p>
           <ul class="megamenu_fbarea">
              <li class="megamenu_social_item"><a href="#" target="blank"><i class="fab fa-twitter"></i></a></li>
              <li class="megamenu_social_item"><a href="#" target="blank"><i class="fab fa-facebook-f"></i></a></li>
              <li class="megamenu_social_item"><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
           </ul><br>
           <ul class="megamenu_contact">
               <li class="megamenu_number"><a href="#"><strong>T</strong>0495-2487671</a></li>
               <li class="megamenu_number"><a href="#"><strong>F</strong>+91 9544331111</a></li>
               <li class="megamenu_number"><a href="#"><strong>M</strong>+91 9544331111</a></li>
           </ul>
        </div>
     </div>
  </div>
</div>